@model Amada_Management.Models.Food
@{
    ViewBag.Title = "O descriere mai amanuntita despre produs";
    var summaryNotFoundMsg = "This food has no summary!";
}
<br />
<br />
<br />

@Html.Label("Denumire", "Denumire:")
<br />
<p>@Model.Denumire</p>

@Html.Label("Pret", "Pret:")
<br />
<p>@Model.Pret</p>

@Html.Label("Informatii", "Informatii:")
<br />
<p>@Model.Informatii</p>



@if (Model.Categories.Count > 0)
{
    @Html.Label("Categories", "Categories:")
    <br />
    <ul>
        @foreach (var type in Model.Categories)
        {
            <li>@type.Name</li>
        }
    </ul>
}
